<h3><%= @restaurant.name %></h3>

<div class="jumbotron">
  <p>
    <strong>Address:</strong>
    <%= @restaurant.address %>
  </p>

  <p>
    <strong>City:</strong>
    <%= @restaurant.city %>
  </p>

  <p>
    <strong>State:</strong>
    <%= @restaurant.state %>
  </p>

  <p>
    <strong>Zipcode:</strong>
    <%= @restaurant.zip %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= @restaurant.description %>
    <% if @restaurant.description.empty? == true %>
      (no description)
    <% end %>
  </p>

  <p>
    <strong>Category:</strong>
    <%= @restaurant.category %>
    <% if @restaurant.category.empty? == true %>
      (no category)
    <% end %>
  </p>
</div>

<%= link_to 'Back to Restaurant Listings', restaurants_path %>
