<h3><%= @restaurant.name %></h3>

<div class="jumbotron">
  <p>
    <strong>Address:</strong>
    <%= @restaurant.address %>
  </p>

  <p>
    <strong>City:</strong>
    <%= @restaurant.city %>
  </p>

  <p>
    <strong>State:</strong>
    <%= @restaurant.state %>
  </p>

  <p>
    <strong>Zipcode:</strong>
    <%= @restaurant.zip %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= @restaurant.description %>
    <% if @restaurant.description.empty? == true %>
      (no description)
    <% end %>
  </p>

  <p>
    <strong>Category:</strong>
    <%= @restaurant.category %>
    <% if @restaurant.category.empty? == true %>
      (no category)
    <% end %>
  </p>
</div>

<h2><%= pluralize(@restaurant.reviews.count, "review") %> for this restaurant:</h2>

<hr>

<% if @restaurant.reviews.empty? == true %>
  <p>There are no reviews yet. Write one!</p>
  <hr>
<% else %>
  <%= render @restaurant.reviews %>
<% end %>

<p><%= link_to 'Write A Review', new_restaurant_review_path(@restaurant), class: 'btn btn-primary' %></p>


<p><%= link_to 'Back to Restaurant Listings', restaurants_path %></p>
